.search{
    width: 30vw;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:34%;
    margin-top:15px;
    margin-bottom: 15px;
    background-color: rgba(243, 212, 174, 0.999);
    border-radius: 25px ;
    
}
.search svg {
    height: 80%;
  }
.search-bar{
    background-color: transparent;
    border: none;
    font-size: medium;
}
  
  

